// Colors
$primary-color: #000;
$secondary-color: #333;
$background-color: #fff;
$text-color: #333;
$border-color: #eee;

// Typography
$base-font: "Merriweather", "Georgia", "Times New Roman", serif;
$heading-font: "Libre Baskerville", "Georgia", "Times New Roman", serif;
$mono-font: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;

// Spacing
$spacing-unit: 30px;
$container-width: 1000px; 
